@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
  @apply w-[80%] mx-auto ;
}
.font-thai{
  font-family: "Mali", serif;
}
.font-eng{
  font-family: "Delius", serif;
}
.font-punk{
  font-family: "Silkscreen", serif;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai Looped", serif;
  font-style: normal;
  scrollbar-width: none; /* ซ่อน Scrollbar สำหรับ Firefox */
  -ms-overflow-style: none;
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  }
  .text-shadow-none {
    text-shadow: none;
  }
}